html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
form {
    display: inline;
}

label, .vspace {
    margin-top: 10px;
}

/* Set background color for body with increased pink tint */
body {
    background-color: #ffccd5; /* Slightly stronger pink background */
}

/* Set background color for navbar to light red */
header {
    background-color: #ff6666; /* Light red background for navbar */
}

/* Set navbar text color to black */
.navbar .nav-link {
    color: #000000 !important; /* Black text for the navbar links */
}

.navbar .navbar-brand {
    color: #000000 !important; /* Black text for the brand */
}